{{ define "main" }}
<div class="section-header">
  <h1 class="section-title">{{ .Title }}</h1>
</div>

<div class="post-list">
  {{ range .Pages }}
  <div class="post-list-item">
    {{ with .Params.image }}
    <img class="post-thumb" src="{{ . }}" alt="">
    {{ else }}
    <div class="post-thumb"></div>
    {{ end }}
    <div class="post-list-content">
      <a href="{{ .Permalink }}"><div class="post-title list-title">{{ .Title }}</div></a>
      <div class="post-meta">
        <span class="date">{{ .Date.Format "2006.01.02" }}</span>
        {{ range .Params.tags }}&mdash; <a href="/tags/{{ . | urlize }}" class="tag">#{{ . }}</a> {{ end }}
      </div>
      <p class="post-excerpt">{{ .Summary }}</p>
    </div>
  </div>
  {{ end }}
</div>

{{ template "_internal/pagination.html" . }}
{{ end }}
